/* Adicione os seus comentários aqui  */

* {
    margin: 0;
}

ul {
    list-style-type: none;
    display: flex;
    /* background-color: blue; */
}

li {
    padding: 1px;
}

a {
    text-decoration: none;
    display: block;
    padding: 5px;
    /* background-color: aqua; */
}

a:hover {
    /* background-color: black; */
    color: rgb(0, 0, 0);
}

.logo {
    width: 30px;
}

img {
    width: 100%;
}

.menu {
    display: flex;
}

nav {
    padding: 5px 10px ;
}

